<link href="./css/mainmenustyle.css" rel="stylesheet">

<div class="mainmenuarea">
	<img src="./images/headerlogo.png">
	<div class="mainmenubuttonsarea">
		<input type="button" class="mainmenubutton" value="New Game" id="newgamebutton"><br><br>
		<input type="button" class="mainmenubutton" value="Load Game" id="loadgamebutton"><br><br>
		<input type="button" class="mainmenubutton" value="Close" id="closegamebutton"><br><br>
	</div>

	<div class="copyrightarea">
		&copy;%%COPYDATE%% DarkArai Software
	</div>
</div>