<link href="./css/newgamestyle.css" rel="stylesheet">

<div class="newgamearea">
	<h1 class="header">New Game</h1>
	<div class="introimg">
		<img src="./images/maurice-intro.png" alt="Maurice" />
	</div>
	<div class="instructtext">
		<p>
			Welcome to Maurice's Great Adventure, a game about a rat that has to find his cat owner.  You take on the role of Maurice the rat and must journey to find his lost cat owner, Zeus.
			There are plenty of friends and enemies along the way, as well as plenty of room for just exploring.  You may also want to help as many people as possible along the way,
			as rats can use as much kindness with humans as they can get.  Remember, lost cats can get very hungry!
			<br>
			<br>
			<strong class="instructtext-strong">Game Controls</strong>
			<br>
			<br>
		</p>
		<div class="gamecontrolsleft">
			<strong class="gamecontrolsstrong">UP Arrow</strong> -- Move Character Up<br>
			<strong class="gamecontrolsstrong">LEFT Arrow</strong> -- Move Character Left<br>
			<strong class="gamecontrolsstrong">RIGHT Arrow</strong> -- Move Character Right<br>
			<strong class="gamecontrolsstrong">DOWN Arrow</strong> -- Move Character Down<br>
			<strong class="gamecontrolsstrong">e</strong> -- View Character's Current Equipment<br>
		</div>
		<div class="gamecontrolsright">
			<strong class="gamecontrolsstrong">i</strong> -- Open Character Inventory<br>
			<strong class="gamecontrolsstrong">t</strong> -- Talk To NPC(Non-Player Character, also opens shops)<br>
			<strong class="gamecontrolsstrong">g</strong> -- Grab Item Under Character's Feet<br>
			<strong class="gamecontrolsstrong">c</strong> -- View Character's Status<br>
		</div>
	</div>
	<div class="msgarea" id="msgarea">

	</div>

	<div class="startgamediv" id="startgamediv">
		<input type="button" id="startgamebutton" class="startgamebutton" value="Start Game">
	</div>
</div>
