<div id='statusarea' class='statusarea'>
	<span class="playerinfospan" id="playerlevel"></span>
	<span class="playerinfospan" id="playerhealth">
		<span class="playerinfobar" id="playerhealthbar">
			<div class="statusareastatbarobj" id="playerhealthbarobj"></div>
		</span>
		<span class="playerinfotext" id="playerhealthtext"></span>
	</span>
	<span class="playerinfospan" id="playerskillpoints">
		<span class="playerinfobar" id="playerskillpointsbar">	
			<div class="statusareastatbarobj" id="playerskillpointsbarobj"></div>
		</span>
		<span class="playerinfotext" id="playerskillpointstext"></span>
	</span>
	<span class="playerinfospan" id="playerarmorcount"></span>
	<span class="playerinfospan" id="playermoney"></span>

	<div class="clearfix"></div>
</div>
